version: "2.1"
services:
  ombi:
    image: ghcr.io/linuxserver/ombi
    container_name: ombi
    environment:
      - PUID=${ID}
      - PGID=${GROUP}
      - TZ=${TIMEZONE}
      - BASE_URL=/ombi #optional
    volumes:
      - ${OMBI_VOLUME}-config:/config
    ports:
      - 3579:3579
    depends_on:
        - "mysql_db"
    restart: unless-stopped
  mysql_db:
    image: "mysql:5.7"
    container_name: ombi_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${SECURE}
    volumes:
      -  ${OMBI_VOLUME}-mysql:/var/lib/mysql
  phpmyadmin:
      image: phpmyadmin/phpmyadmin
      container_name: ombi_phpmyadmin
      restart: unless-stopped
      environment:
        PMA_HOST: mysql_db
      ports:
        - '8990:80'
      depends_on:
        - "mysql_db"
  radarr:
    image: ghcr.io/linuxserver/radarr
    container_name: radarr
    environment:
      - PUID=${ID}
      - PGID=${GROUP}
      - TZ=${TIMEZONE}
    volumes:
      - ${RADARR_VOLUME}:/config
      - ${MOVIES}:/movies #optional
      - ${DOWNLOADS}/Movies:/downloads #optional
      - ${DOWNLOADS}/BackblazeMovies/Movies:/movies2
    ports:
      - 7878:7878
    restart: unless-stopped
  sonarr:
    image: ghcr.io/linuxserver/sonarr
    container_name: sonarr
    environment:
      - PUID=${ID}
      - PGID=${GROUP}
      - TZ=${TIMEZONE}
    volumes:
      - ${SONARR_VOLUME}:/config
      - ${SHOWS}:/tv #optional
      - ${DOWNLOADS}/Shows:/downloads #optional
      - ${DOWNLOADS}/BackblazeShows/Shows:/tv2
    ports:
      - 8989:8989
    restart: unless-stopped
  jackett:
    image: ghcr.io/linuxserver/jackett
    container_name: jackett
    environment:
      - PUID=${ID}
      - PGID=${GROUP}
      - TZ=${TIMEZONE}
      - AUTO_UPDATE=true #optional
    volumes:
      - ${JACKETT_VOLUME}:/config
      - ${BLACKHOLE}:/downloads
    ports:
      - 9117:9117
    restart: unless-stopped
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
  flaresolverr:
    # DockerHub mirror flaresolverr/flaresolverr:latest
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=info
      - LOG_HTML=false
      - TZ=${TIMEZONE}
    ports:
      - 8191:8191
    restart: unless-stopped 
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
  app:
    image: 'jc21/nginx-proxy-manager:2.9.5'
    restart: unless-stopped
    ports:
      - '8080:80'
      - '9001:81'
      - '4443:443'
    environment:
      DB_SQLITE_FILE: "/data/database.sqlite"
      DISABLE_IPV6: 'true'
    volumes:
      - ${NGINX}:/data
      - ${CERTBOT}:/etc/letsencrypt
  bazarr:
    image: ghcr.io/linuxserver/bazarr
    container_name: bazarr
    environment:
      - PUID=${ID}
      - PGID=${GROUP}
      - TZ=${TIMEZONE}
    volumes:
      - /volume1/docker/bazarr:/config
      - ${SHOWS}:/tv
      - ${DOWNLOADS}/BackblazeShows:/tv2
      - ${MOVIES}:/movies
      - ${DOWNLOADS}/BackblazeMovies:/movies2
    ports:
      - 6767:6767
    restart: unless-stopped
  tautulli:
    image: ghcr.io/linuxserver/tautulli
    container_name: tautulli
    environment:
      - PUID=${ID}
      - PGID=${GROUP}
      - TZ=${TIMEZONE}
    volumes:
      - /volume1/docker/tautulli:/config
    ports:
      - 8181:8181
    restart: unless-stopped
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "8081:8081/tcp"
    environment:
      TZ: 'America/Chicago'
      WEBPASSWORD: ${SECURE}
      WEB_PORT: 8081
    # Volumes store your data between container upgrades
    volumes:
      - /volume1/docker/pihole:/etc/pihole/
      - /volume1/docker/etc-dnsmasq.d/:/etc/dnsmasq.d/
    # Recommended but not required (DHCP needs NET_ADMIN)
    #   https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    network_mode: host
