version: "3"
services:
  gluetun:
    image: qmcgaw/gluetun
    cap_add:
      - NET_ADMIN
    volumes:
      - gluetun:/gluetun
    environment:
      - VPN_SERVICE_PROVIDER=private internet access
      - OPENVPN_USER=${PIA_USER}
      - OPENVPN_PASSWORD=${PIA_PASS}
      - SERVER_REGIONS=US New York,US East
    ports:
      - 3579:3579 # ombi
      - 8990:80   # phpadmin
      - 7878:7878 # radarr
      - 8989:8989 # sonarr
      - 9117:9117 # jackett
      - 8191:8191 # flaresolver
      - 8080:80   # npm
      - 9001:81   # npm
      - 4443:443  # npm
      - 6767:6767 # bazaar
      - 8181:8181 # tautulli
      - 5299:5299 # lazylibrarian
  ombi:
    image: ghcr.io/linuxserver/ombi
    container_name: ombi
    environment:
      - PUID=${ID}
      - PGID=${GROUP}
      - TZ=${TIMEZONE}
      - BASE_URL=/ombi #optional
    volumes:
      - ${OMBI_VOLUME}-config:/config
    network_mode: "service:gluetun"
    depends_on:
        - "mysql_db"
    restart: unless-stopped
    logging:
      driver: loki
      options:
        loki-url: "${LOKI_IP}/api/v1/push"
  mysql_db:
    image: "mysql:5.7"
    container_name: ombi_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${SECURE}
    volumes:
      -  ${OMBI_VOLUME}-mysql:/var/lib/mysql
    network_mode: "service:gluetun"
    logging:
      driver: loki
      options:
        loki-url: "${LOKI_IP}/api/v1/push"
  phpmyadmin:
      image: phpmyadmin/phpmyadmin
      container_name: ombi_phpmyadmin
      restart: unless-stopped
      environment:
        PMA_HOST: mysql_db
      network_mode: "service:gluetun"
      depends_on:
        - "mysql_db"
      logging:
        driver: loki
        options:
          loki-url: "${LOKI_IP}/api/v1/push"
  radarr:
    image: ghcr.io/linuxserver/radarr
    container_name: radarr
    environment:
      - PUID=${ID}
      - PGID=${GROUP}
      - TZ=${TIMEZONE}
    volumes:
      - ${RADARR_VOLUME}:/config
      - ${MOVIES}:/movies #optional
      - ${DOWNLOADS}/Movies:/downloads #optional
      - ${DOWNLOADS}/BackblazeMovies/Movies:/movies2      
    network_mode: "service:gluetun"
    restart: unless-stopped
    logging:
      driver: loki
      options:
        loki-url: "${LOKI_IP}/api/v1/push"
  sonarr:
    image: ghcr.io/linuxserver/sonarr
    container_name: sonarr
    environment:
      - PUID=${ID}
      - PGID=${GROUP}
      - TZ=${TIMEZONE}
    volumes:
      - ${SONARR_VOLUME}:/config
      - ${SHOWS}:/tv #optional
      - ${DOWNLOADS}/Shows:/downloads #optional
      - ${DOWNLOADS}/BackblazeShows/Shows:/tv2
    network_mode: "service:gluetun"      
    restart: unless-stopped
    logging:
      driver: loki
      options:
        loki-url: "${LOKI_IP}/api/v1/push"
  jackett:
    image: ghcr.io/linuxserver/jackett
    container_name: jackett
    environment:
      - PUID=${ID}
      - PGID=${GROUP}
      - TZ=${TIMEZONE}
      - AUTO_UPDATE=true #optional
    volumes:
      - ${JACKETT_VOLUME}:/config
      - ${BLACKHOLE}:/downloads
    network_mode: "service:gluetun"    
    restart: unless-stopped
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    logging:
      driver: loki
      options:
        loki-url: "${LOKI_IP}/api/v1/push"
  flaresolverr:
    # DockerHub mirror flaresolverr/flaresolverr:latest
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=info
      - LOG_HTML=false
      - TZ=${TIMEZONE}
    network_mode: "service:gluetun"
    restart: unless-stopped 
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    logging:
      driver: loki
      options:
        loki-url: "${LOKI_IP}/api/v1/push"
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      
    environment:
      DB_MYSQL_HOST: "mysql_db"
      DB_MYSQL_PORT: 3306
      DB_MYSQL_USER: "npm"
      DB_MYSQL_PASSWORD: "${SECURE}"
      DB_MYSQL_NAME: "npm"
      DISABLE_IPV6: 'true'
    network_mode: "service:gluetun"
    volumes:
      - ${NGINX}:/data
      - ${CERTBOT}:/etc/letsencrypt
    logging:
      driver: loki
      options:
        loki-url: "${LOKI_IP}/api/v1/push"
  bazarr:
    image: ghcr.io/linuxserver/bazarr
    container_name: bazarr
    environment:
      - PUID=${ID}
      - PGID=${GROUP}
      - TZ=${TIMEZONE}
    volumes:
      - /volume1/docker/bazarr:/config
      - ${SHOWS}:/tv
      - ${DOWNLOADS}/BackblazeShows:/tv2
      - ${MOVIES}:/movies
      - ${DOWNLOADS}/BackblazeMovies:/movies2
    network_mode: "service:gluetun"
    restart: unless-stopped
    logging:
      driver: loki
      options:
        loki-url: "${LOKI_IP}/api/v1/push"
  tautulli:
    image: ghcr.io/linuxserver/tautulli
    container_name: tautulli
    environment:
      - PUID=${ID}
      - PGID=${GROUP}
      - TZ=${TIMEZONE}
    volumes:
      - /volume1/docker/tautulli:/config
    network_mode: "service:gluetun"
    restart: unless-stopped
    logging:
      driver: loki
      options:
        loki-url: "${LOKI_IP}/api/v1/push"
#  pihole:
#    container_name: pihole
#    image: pihole/pihole:latest
#    ports:
#      - "53:53/tcp"
#      - "53:53/udp"
#      - "67:67/udp"
#      - "8081:8081/tcp"
#    environment:
#      TZ: 'America/Chicago'
#      WEBPASSWORD: ${SECURE}
#      WEB_PORT: 8081
#    # Volumes store your data between container upgrades
#    volumes:
#      - /volume1/docker/pihole:/etc/pihole/
#      - /volume1/docker/etc-dnsmasq.d/:/etc/dnsmasq.d/
#    # Recommended but not required (DHCP needs NET_ADMIN)
#    #   https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
#    cap_add:
#      - NET_ADMIN
#    restart: unless-stopped
#    network_mode: host
#    logging:
#      driver: loki
#      options:
#        loki-url: "${LOKI_IP}/api/v1/push"
  tdarr:
    container_name: tdarr
    image: haveagitgat/tdarr:latest
    restart: unless-stopped
    ports:
      - 8265:8265 # webUI port
      - 8266:8266 # server port
    environment:
      - TZ=${TIMEZONE}
      - PUID=${ID}
      - PGID=${GROUP}
      - UMASK_SET=002
      - serverIP=0.0.0.0
      - serverPort=8266
      - webUIPort=8265
    volumes:
      - /volume1/docker/tdarr/server:/app/server
      - /volume1/docker/tdarr/configs:/app/configs
      - /volume1/docker/tdarr/logs:/app/logs
      - /volume1/:/media
      - /volume1/docker/transcode_cache:/temp
  lazylibrarian:
    image: lscr.io/linuxserver/lazylibrarian:latest
    container_name: lazylibrarian
    environment:
      - PUID=${ID}
      - PGID=${GROUP}
      - TZ=${TIMEZONE}
      - DOCKER_MODS=linuxserver/calibre-web:calibre|linuxserver/mods:lazylibrarian-ffmpeg #optional
    volumes:
      - /volume1/docker/lazylibrarian/config:/config
      - /volume1/docker/lazylibrarian/downloads/:/downloads
      - /volume1/docker/lazylibrarian/data/:/books #optional
    network_mode: "service:gluetun"
    restart: unless-stopped
